
<h1>Feed</h1>

<br />
<br />


<div class='list-group'>
<% Question.all.each do |question| %>
  <% @question = question %>
  
  <div class='list-group-item'>
  <%= render file: 'questions/answer' %>
  </div>
<% end %>
</div>